.vscode/*
!.vscode/extensions.json
node_modules/
backend/app/frontend/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/


# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
!.env.example
!.env.local.example